.social-links {
  margin-top: 50px;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  a {
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  img {
    height: 1.75em;
    width: auto;
  }

  span {
    margin-left: 15px;
  }

  i {
    width: 15px;
    text-align: center;
  }

  > div {
    margin-bottom: 5px;
  }
}