!!! 5
%html
  %head
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    %title Spencer Colton
    %link{rel: 'stylesheet', href: '/assets/stylesheets/main.css'}
    %script{src: '/assets/scripts/script.js'}
    %script{src: 'https://kit.fontawesome.com/04a7ede306.js', crossorigin: 'anonymous'}
  %body.bio
    %header= File.read('nav.html')

    .terminal
      %span.terminal-line
      %span.terminal-line On March 8, 1999, I was surgically removed from my mother by the great staff at Toledo Hospital in Toledo, OH.
      %span.terminal-line
        %span I lived there for most of my childhood and I attended&nbsp;
        %a.aqua.bold{href: 'http://www.ohschools.org/'} Ottawa Hills High School.
      %span.terminal-line
      %span.terminal-line
        %span Currently, I am attending&nbsp;
        %a.aqua.bold{href: 'https://www.northwestern.edu/'} Northwestern University
        %span &nbsp;where I am majoring in computer science. I am also a member of&nbsp;
        %a.aqua.bold{href: 'http://nushape.wordpress.com/', target: '_blank'} SHAPE (Sexual Health and Assault Peer Educators)
        %span ,&nbsp;
        %a.aqua.bold{href: 'https://asg.northwestern.edu/', target: '_blank'} Associated Student Government
        %span , and&nbsp;
        %a.aqua.bold{href: 'https://www.northwestern.edu/care/get-involved/student-involvement/speak-for-change/index.html', target: '_blank'} SPEAK for change
        %span .
      %span.terminal-line
      %span.terminal-line
      %span.terminal-line
        %span When I'm not frantically working on a coding project, I enjoy&nbsp;
        %a.aqua.bold{href: 'https://www.geocaching.com/', target: '_blank'} Geocaching
        %span , biking, and seeing musicals.
      %span.terminal-line
      %span.terminal-line
      %span.terminal-line
        I like to work at companies that are small enough that rules can be flexible and I can see the work that I do&nbsp;
        making a difference.
      %span.terminal-line
        When I can, I try to stay in one place for as long as possible so that I can build relationships with everyone&nbsp;
        there and see many projects come to fruition. I enjoy having an established sense of purpose and place. I like to do work&nbsp;
        that makes people's lives easier and I would especially like to work for an organization with a social-justice oriented purpose.
      %span.terminal-line
      %span.terminal-line
        As a student at Northwestern, I have been fortunate enough to have an on-campus job at the university's IT department,&nbsp;
        where I've been able to find a lot of the elements that I like in a workplace.
      %span.terminal-line
      %span.terminal-line
        %span Consequently, many of the&nbsp;
        %a.aqua.bold{href: '/projects'} projects
        %span &nbsp;that I am more proud of have come from my time at Northwestern IT.
      %span.terminal-line
      %span.terminal-line
      %span.terminal-line
        Although I brand myself as a back-end developer, I also have plenty of experience in front-end web design and&nbsp;
        general application design in Java, Python, and C++.
      %span.terminal-line
      %span.terminal-line
        On the front-end, I have experience in React (with or without Redux), Bootstrap, and jQuery. When I'm just working on&nbsp;
        a project for myself, I usually prefer to write everything from scratch in HAML, TypeScript, and sass.
      %span.terminal-line
      %span.terminal-line
        On the back-end, I tend to use Node.JS (usually with Express), but I have plenty of experience with Ruby on Rails&nbsp;
        and Django for larger projects.
      %span.terminal-line
      %span.terminal-line
      %span.terminal-line
    %footer
      .l Copyright &copy; 2020 Spencer Colton