%span
%span{style: "color:#808080"} &nbsp;
%br 
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¡=^∩ª∩∩──~,,
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,,,,&nbsp;&nbsp;`*j─,
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'&nbsp;&nbsp;`&nbsp;`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;',
%br
%span{style: "color:#808080"} &nbsp;
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,,¿╓╖
%span{style: "color:#c09c97"} ▒
%span{style: "color:#c6a19d"} ▒▒▒▒▒▒▒╖╖╖,
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,,░░░▒▒▒▒▒▒▒▒▒╢╢╢╢╢╢╢╫▓@╖&nbsp;`
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░
%span{style: "color:#c2a4a2"} ░
%span{style: "color:#c7aaa7"} ▒▒▒▒▒▒▒▒▒▒▒▒▒╢╢╢╢╢╢╢╣▓▓▓╕
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`░░▒▒▒▒▒▒▒▒▒▒▒▒╢╢╢╢╢╢╢╣▓▓▓▓▓L
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░
%span{style: "color:#c5a5a2"} ░
%span{style: "color:#caa8a6"} ▒▒▒▒▒▒▒▒▒▒▒▒╢╢╢╢╢╢╢╣▓▓▓▓▓╣─`
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░▒░▒▒╜╜╙╙╙"""░╙╙╜▒▒▒▒▒╜╙╜╙╙╨▓H&nbsp;─
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░
%span{style: "color:#b7a5ac"} *"
%span{style: "color:#a7a3b6"} ░&nbsp;&nbsp;,,╓╓.,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░▒░░&nbsp;&nbsp;&nbsp;&nbsp;,╓╖░
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¿rm░&nbsp;¿░'&nbsp;'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,&nbsp;&nbsp;&nbsp;&nbsp;"*╦╖,
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,
%span{style: "color:#bc9ea4"} K─&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%span{style: "color:#bf9fa0"} ░░░░{░▒▒▒▒▒∩∩¿;░░',╫@⌐;╖,,,╓╖,▒"░¿
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,░¡&nbsp;&nbsp;&nbsp;&nbsp;┌░▒▒▒░/╢▒▒▒▒▒▒▒▒▒░╓▒▒╢▓`▒░░░░░▒╢▓╣▓
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;┌
%span{style: "color:#ca9898"} ▒
%span{style: "color:#be958f"} ░&nbsp;░,,,▒░▒▒▒▒▒╢╣N╥m▒░░.╓▒▒▒▒╢╢▓░╚╝╢▒╢╢╢╢▓
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▒░░░░▒▒░░░▒▒▒▒▒▒▒▒▒▒░░░░╜╜╜░░░▒▒╨H░░▒╖@╢Γ
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└
%span{style: "color:#c4858d"} ░
%span{style: "color:#c28a91"} ░▒╥▒░░░░▒▒▒▒░░░░░░░░░░,,¡,,.,╓╖▒░'░░▒▒
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;╨▒▒▒░░░░▒▒░░▒░.░░░░▒▒▒░░░░▒▒▒▒▒▒▒▒░░░▒
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:░
%span{style: "color:#bba4a9"} ░
%span{style: "color:#c0a8a9"} ░░░░░░▒░░&nbsp;&nbsp;&nbsp;&nbsp;╓╖╖,╖¿╓░░░░╙"░▒▒▒╢
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░░░░░▒░▒▒▒░,,░░░▒▒░▒▒▒▒,╓╢▒▒▒▒
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%span{style: "color:#b99ea3"} ░
%span{style: "color:#b99d9f"} ░░░░░░░▒░▒▒▒▒▒░░░░░░░░░▒╢╢╣▒▒▒
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░''░░░░░▒▒▒▒▒▒▒░░░░▒▒╢╢╢╢▒╜
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%span{style: "color:#c09fa2"} ░
%span{style: "color:#bd9d9d"} ░░░.``'░░░░▒▒▒▒▒▒▒▒▒╢╢╢╢╣╣`
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░░░░``&nbsp;&nbsp;```'░░░░░░░░░▒╜`
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%span{style: "color:#c1a0a3"} ░
%span{style: "color:#bf9e9e"} ░░░░░░¡.`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,╖
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░░░░░░░░░░,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;,╓▒▒╢
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%span{style: "color:#bca4ae"} ║
%span{style: "color:#c6a3a4"} ▒░░░░░░░░░░░░░░░░▒▒▒▒╢╢╢▌`
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`.&nbsp;▒▒░░░░▒▒░░░░░░░░░░░▒▒▒╣╢╢▓&nbsp;└
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%span{style: "color:#c2a1a6"} ╙
%span{style: "color:#ccaaab"} ▒▒░░░▒▒░░░░░░░░░░░▒▒▒▒▒▒▒w`░
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"▒▒▒▒▒░░░░░░░░░▒▒▒▒▒▒▒▒╜:╒░░┐
%span{style: "color:#957f90"} ,
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'▒░░░░░░░░░▒
%span{style: "color:#d0a9a6"} ▒
%span{style: "color:#d3afae"} ▒▒▒▒╜░'.¬!░:░.░░░┐&nbsp;,
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%span{style: "color:#958093"} ,:&nbsp;&nbsp;``&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'░
%span{style: "color:#bd9595"} ░░░░░░░░░░░`&nbsp;&nbsp;└░"'&nbsp;`░&nbsp;'░░░"`,'&nbsp;»,
%br
%span{style: "color:#808080"} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;''&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;░░&nbsp;'░░░░░░,¡░`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;``''░.:,░░.``⌐&nbsp;─.░¡¿
%br
%span{style: "color:#808080"} &nbsp;&nbsp;.&nbsp;&nbsp;'&nbsp;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;``&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
%span{style: "color:#c49d9d"} ▒
%span{style: "color:#c59d9d"} ░░░░░░░`&nbsp;.&nbsp;&nbsp;```&nbsp;&nbsp;░░░:~,.,░░:░░''└░░░░`
%br
%span{style: "color:#a77fa1"} &nbsp;¡'''`.,&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`&nbsp;&nbsp;`&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;.╖&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]▒▒▒▒▒░'&nbsp;&nbsp;&nbsp;╟▓'&nbsp;&nbsp;░░░░:""".░~~....`░░░:"~'¬
